
#search-button svg {
  width: 30px;
  height: 30px;
  top: 2px;
  position: relative;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}
.card{
    position: relative;
    background:#000000d0;
    color: white;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 350px;
    margin: 1rem;
}
.temp-descripition{
    display: flex;
    position: relative;
    left: 80px;
    align-items: center;
}
h1.temp{
    margin: 0;
}
.flex{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.city{
    font-size: 2rem;
}
button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover{
    background:#7c7c7c2b ;
}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.3em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit ;
    font-size: 105%;
    width: calc(100% -100px);
}
.description{
    text-transform: capitalize;
}
.icon{
    width: 70px;
    height: 70px;
    position: relative;
} 

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
weather.loading:after{
    visibility: visible;
    content: "Cargando...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}